img{
    max-height: 350px;
    width: auto;
    display: block;
}

#profile-pic{
    max-height: 300px;
    width: auto;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px
}

#mastodon_verification{
    display: none;
}

.nav-item{
    font-weight: bold;
    font-size: 18px;
}